# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Qdrant local storage
qdrant_storage/

# Databases
thesis.db
*.db.bak

# Uploads
uploads/

# Library/Binaries (Poppler/Tesseract)
app/Library/

# System Files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints

# Model weights and checkpoints
imrad_nli_model/
distilbert_imrad_model_clean/
distilbert_imrad_model/
sample_documents/
extracted_data_heading/
sample_data/