email-validator
pypdf
fastapi
uvicorn
sqlalchemy
qdrant-client
transformers
torch
sentence-transformers
keybert
pytesseract
pdf2image
python-multipart
python-dotenv
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
hashids
alembic
httpx
safetensors
pymupdf
